.sectionTitle {
	height: 480px;
	align-items: center;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 4.58%, rgba(200, 80, 192, 0.445833) 31.91%, #FFCC70 100%);
}

// .deadlineBackdrop {
// 	background: rgba(32, 162, 130, 0.15);
// 	// border: 1px solid;
// 	// border-image-source: linear-gradient(214.8deg, rgba(32, 162, 130, 0.54) 23.75%, rgba(217, 217, 217, 0) 79.5%);
// 	border: 1px solid rgba(255, 255, 255, 0.5);
// }

.sectionBackdrop {
	/* glass fill */
	background: linear-gradient(123.15deg, rgba(255, 255, 255, 0.5) 20.99%, rgba(255, 255, 255, 0.15) 79.11%);
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 40px;
}

// .sectionBackdrop {
// 	background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(239, 231, 42, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
// 	background-blend-mode: overlay, normal;
// 	backdrop-filter: blur(40px);
// 	/* Note: backdrop-filter has minimal browser support */

// 	border-radius: 59px;

// 	/* Inside auto layout */

// 	flex: none;
// 	order: 0;
// 	flex-grow: 0;
// }
